.side-panel {
    position: fixed;
    top: 10%;
    bottom: 0%;
    right: 0;
    width: 560px;
    height: 90vh;
    border-radius: 32px 0 0 32px;
    padding: 16px;

    background: white;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}

.side-panel.open {
    transform: translateX(0);
}


@media (max-width: 768px) {
    .side-panel {
        width: 100%;
    }
}

#close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}



.card {
    max-width: 400px;
    width: 100%;
    height: auto;

    .card-body {
        height: 376px;

        img {
            border-radius: 16px;
            width: 128px;
            height: 128px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        p {
            display: -webkit-box;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    @media (max-width: 1023px) {
        .card-body {
            height: 340px;
        }
    }

    .meet-btn {
        background-color: #e192aa;
        border-color: #e192aa;

        &:hover {
            background-color: #d67a96;
            border-color: #d67a96;
        }
    }
}