html {
    margin: 0%;
    padding: 0%;
    cursor: url("/cursors/pointer.png"), auto;
    
    a:hover, button:hover {
        cursor: url("/cursors/grabber.png"), pointer;
    }
    
    body {
        background-color: #e0f4fb;
        margin: 0%;
        padding: 0%;

        header {
            background-color: #36454f;
            nav {
                
                li{
                    padding-top: 0px;
                    padding-bottom: 0px;
                }     

                #nav-img {
                    max-width: 114px;
                    height: auto;
                }

                .nav-item {
                    color: #e192aa
                }
            }

            .hamburger {
                display: none;
            }
                
            .mobile-nav-img {
                display: none;
            }           

            #mobile-nav {
                display: none;
            }

            @media (max-width: 768px) {

                .desktop-nav {
                    display: none;
                }

                .mobile-nav-img {
                    display: block;                
                    max-width: 114px;
                    height: auto;
                }

                .hamburger {
                    display: block;

                    position: fixed;
                    top: 1rem;
                    right: 1rem;

                    z-index: 1001;
                }

                #mobile-nav {
                    display: block;

                    position: fixed;
                    top: 0;
                    right: 0;
                    left: 0;

                    width: 100vw;
                    height: 200px;

                    padding: 2rem 1rem;

                    background: whitesmoke;

                    transform: translateY(0%);
                    transition: transform 0.3s ease;

                    z-index: 1000;

                    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
                }

                #mobile-nav.open {
                    transform: translateY(-100%);
                }

                #mobile-nav ul {
                    display: flex;
                    flex-direction: column;
                }
                #special-li {
                    color: #e192aa
                }
            }

        }

        main {}

        
        footer{
            text-align: center;
            padding: 32px;
            background-color: whitesmoke;

            .container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                gap: 32px;
            
                .footer-icon {
                    margin-left: 4px;
                    margin-right: 4px;

                    :hover {
                        transform: translateY(-6px);
                        transition: transform 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}