@import '_variables.scss';

html {
    margin: 0%;
    padding: 0%;
    background-color: #e0f4fb;
    cursor: url("/cursors/pointer.png"), auto;

    a:hover, button:hover {
    cursor: url("/cursors/grabber.png"), pointer;
    }

    body {
        margin: 0%;
        padding: 0%;

        header {
            background-color: #36454f;
            nav {
                .nav-img {
                    max-width: 80px;
                    height: auto;
                }
                .nav-item {
                    color: #e192aa
                }
            }
        }


        
        .footer{
            text-align: center;
            padding: 32px;
            background-color: white;
        }
    }
}